.labels{
    font-weight: 650;
    font-size: large;
}

.input-space{
    background-color: #D9D9D9;
}

.gender-border{
    background-color: #D9D9D9;
    
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}



.print-button {
    background-color: #D9D9D9;
    width: 150px;
    height: 40px;
    border: none;
   
}

.print-button:hover {
    background-color: #D9D9D9; /* Set the same background color as the normal state */
}

.print-button:active {
    background-color: rgb(4, 4, 4);
}
